// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato');

@tailwind base;
@tailwind components;

@import 'lib/swipe';

@import 'components/buttons';
@import 'components/pills';
@import 'components/alerts';
@import 'components/events-list';
@import 'components/quick-event';

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Lato', sans-serif;
}

#menu-toggle:checked + #menu {
    @apply flex;
}

progress[value] {
    @apply rounded overflow-hidden appearance-none;

    &::-webkit-progress-bar {
        @apply bg-gray-300;
    }

    &::-webkit-progress-value {
        @apply bg-green-500;
    }
}


@tailwind utilities;

